.button {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  // height: 59px;
  border: none;
  border-radius: 3px;
  background-color: $green;
  color: $white;
  padding: 17px 0;
  // margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $green-hover;
  }

  &:active {
    color: transparentize($color: $white, $amount: 0.7);
  }

  &:disabled {
    background-color: $very-light-shade-grey-dif2;
  }
}
