.footer__container {
  @include container;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 127px;
  }

  @media (min-width: $desktop-width) {
    // @include container-desktop;
    min-height: 197px;
    max-width: 940px;
    margin: 0 auto;
  }
}

.footer__logo {
  display: block;
  margin-top: 30px;
  text-align: center;
  // outline: 1px solid black;

  &-glasses {
    fill: $pink;
    margin-right: 8px;
  }

  &-pink {
    fill: $dark-blu-sky;
  }

  &-desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: -20px;
  }

  @media (min-width: $desktop-width) {
    &-glasses {
      display: none;
    }

    &-pink {
      display: none;
    }

    &-desktop {
      display: block;
      fill: $dark-blu-sky;

      &:hover {
        fill: $pink;
      }

      &:active {
        fill: transparentize($color: $dark-blu-sky, $amount: 0.3);
      }
    }
  }
}

.footer__socials-list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  // outline: 1px solid black;

  @media (min-width: $tablet-width) {
    margin-top: -12px;
    margin-left: -10px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -7px;
    margin-left: 5px;
  }
}

.footer__socials-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  svg {
    fill: $pink;
  }

  a {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border: 3px solid transparentize($color: $dark-blu-sky, $amount: 0.9);
    border-radius: 50%;

    &:hover {
      border-color: transparentize($color: $dark-blu-sky, $amount: 0);
    }

    &:active {
      border-color: transparentize($color: $dark-blu-sky, $amount: 0.9);

      svg {
        fill: transparentize($color: $pink, $amount: 0.7);
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 5px;
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  margin-top: 35px;
  // outline: 1px solid black;

  .htmlacademy {
    fill: $pink;
  }

  &:hover {
    .htmlacademy {
      fill: $dark-blu-sky;
    }
  }

  &:active {
    .htmlacademy {
      fill: transparentize($color: $dark-blu-sky, $amount: 0.7);
    }
  }

  @media (min-width: $tablet-width) {
    // margin-top: 35px;

    .htmlacademy {
      padding-top: 5px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;

    .htmlacademy {
      padding-top: 5px;
    }
  }
}

.footer__copyright-text {
  font-size: 14px;
  line-height: 18px;
  color: $dark-blu-sky;
  margin: 10px 15px 0 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin: 13px 15px 0 0;
  }
}
